.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0;
    padding: 0;
}

.navbar button {
    height: 3rem;
    width: 6rem;
    color: white;
    font: inherit;
    transition: 0.25s;
} 

.links {
    background-color: transparent;
}

.prices {
    margin-left: 1rem;
    background-color: #1199FA;
    border-radius: 12px;
}

.prices:hover,
.prices:focus {
    box-shadow: 0 0.5em 0.5rem -0.4em #1199FA;
    transform: translateY(-0.25em);
}


.links:hover,
.links:focus {
    box-shadow: 0 0.5em 0 -0.4em #1199FA;
    transform: translateY(-0.25em);
}

.home-link {
    color: inherit;
    text-decoration: inherit;
}